.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #eeab94;
  border-color: #eeab94 transparent #eeab94 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.smallSpinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
}

.smallSpinner:after {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #eeab94;
  border-color: #eeab94 transparent #eeab94 transparent;
  animation: spinner 1.2s linear infinite;
}
